@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400;1,700;1,900&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   color: rgb(85, 85, 85);
}

ul {
   list-style-type: none;
}

.nav-list li {
   font-size: 25px;
   cursor: pointer;
   transition: 300ms ease-in;
}

.nav-list li:hover {
   color: tomato;
   transform: translateX(20px);
}

li {
   display: flex;
   align-items: center;
}
